<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->

<head>
    <script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
    <link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">
</head>
<!-- Content -->
<body>
<h2 id="titleCalendarPlugin">Calendar</h2>

<div class="calendar-container container-fluid">

    <div class="header">
        <ul class="dayname">
            <li>Montag</li>
        </ul>

        <ul class="daynumber">
            <li>14</li>
        </ul>
    </div>

    <div class="timeslots-container">
        <ul class="timeslots">
            <li>
                0 Uhr
            </li>
            <li>
                1 Uhr
            </li>
            <li>
                2 Uhr
            </li>
            <li>
                3 Uhr
            </li>
            <li>
                4 Uhr
            </li>
            <li>
                5 Uhr
            </li>
            <li>
                6 Uhr
            </li>
            <li>
                7 Uhr
            </li>
            <li>
                8 Uhr
            </li>
            <li>
                9 Uhr
            </li>
            <li>
                10 Uhr
            </li>
            <li>
                11 Uhr
            </li>
            <li>
                12 Uhr
            </li>
            <li>
                13 Uhr
            </li>
            <li>
                14 Uhr
            </li>
            <li>
                15 Uhr
            </li>
            <li>
                16 Uhr
            </li>
            <li>
                17 Uhr
            </li>
            <li>
                18 Uhr
            </li>
            <li>
                19 Uhr
            </li>
            <li>
                21 Uhr
            </li>
            <li>
                22 Uhr
            </li>
            <li>
                23 Uhr
            </li>
        </ul>
    </div>

    <div class="events-container">
        <div class="slot slot-1">
            <div class="event-status"></div>
            <span class="event-name">Event A</span>
        </div>
    </div>

</div>
</body>
