<head>
    <script async src="plugins/calendar/scripts.js" type="text/javascript"></script>
    <link href="plugins/calendar/styles.css" rel="stylesheet" type="text/css">
</head>


<div class="calendar-container container-fluid">
    <div class="header">
        <ul>
            <li>Montag</li>
        </ul>
    </div>

    <div class="timeslots-container">

    </div>

    <div class="events-container">

    </div>
</div>
